@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form asp-controller="Home" asp-action="RegistroCliente" method="post">

        <input name="nome" class="form-control form-control-lg" type="text" placeholder="Nome">
        <input name="cpf" class="form-control form-control-lg" type="text" placeholder="CPF" />
        <input name="email" class="form-control form-control-lg" type="text" placeholder="Email" />
        <input name="senha" type="password" id="inputPassword5" class="form-control form-control-lg" aria-describedby="passwordHelpBlock" placeholder="Senha">
        <input name="genero" class="form-control form-control-lg" type="text" placeholder="Genero" />
        <input name="dt_nascimento" class="form-control form-control-lg" type="date" placeholder="Data de Nascimento" />
        <input name="telefone" class="form-control form-control-lg" type="tel" placeholder="Telefone" />
        

        <button type="submit">Cadastrar</button>
    </form>

</div>
